<div class="container">
    <div class="filter-form">
        <form [formGroup]="filterForm">

            <!-- ID Filter -->
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input type="number" matInput formControlName="id">
            </mat-form-field>

            <!-- Customer Filter -->
            <mat-form-field>
                <mat-label>Customer Contains</mat-label>
                <input type="text" matInput formControlName="customer">
            </mat-form-field>

            <!-- User First Name -->
            <mat-form-field>
                <mat-label>User First Name</mat-label>
                <input type="text" matInput formControlName="user__first_name">
            </mat-form-field>

            <!-- User Last Name -->
            <mat-form-field>
                <mat-label>User Last Name</mat-label>
                <input type="text" matInput formControlName="user__last_name">
            </mat-form-field>

            <!-- Min Amount -->
            <mat-form-field>
                <mat-label>Min Amount</mat-label>
                <input type="number" matInput formControlName="amount_min">
            </mat-form-field>

            <!-- Max Amount -->
            <mat-form-field>
                <mat-label>Max Amount</mat-label>
                <input type="number" matInput formControlName="amount_max">
            </mat-form-field>

            <!-- Min Price -->
            <mat-form-field>
                <mat-label>Min Price</mat-label>
                <input type="number" matInput formControlName="price_min">
            </mat-form-field>

            <!-- Max Price -->
            <mat-form-field>
                <mat-label>Max Price</mat-label>
                <input type="number" matInput formControlName="price_max">
            </mat-form-field>

            <!-- Deleted -->
            <mat-form-field>
                <mat-label>Deleted</mat-label>
                <mat-select formControlName="deleted">
                    <mat-option [value]="'null'">Doesn't matter</mat-option>
                    <mat-option [value]="'true'">Only deleted orders</mat-option>
                    <mat-option [value]="'false'">Only not deleted orders</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Date Created After -->
            <mat-form-field>
                <mat-label>Starting from</mat-label>
                <input matInput [matDatepicker]="start" formControlName="date_created_after">
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>

            <!-- Date Created Before -->
            <mat-form-field>
                <mat-label>Ending with</mat-label>
                <input matInput [matDatepicker]="end" formControlName="date_created_before">
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <button type="submit" (click)="filterOrders()" mat-stroked-button color="primary">Search</button>&nbsp;
            <button type="button" (click)="clearFilterForm()" mat-stroked-button color="primary">Clear</button>
        </form>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table #sort="matSort" (matSortChange)="getOrders()" matSortDisableClear matSortActive="id" matSortDirection="asc" matSort [dataSource]="orders">

            <!-- ID -->
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let order"> {{order.id}} </td>
            </ng-container>

            <!-- Customer -->
            <ng-container matColumnDef="customer">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Customer</th>
                <td mat-cell *matCellDef="let order"> {{order.customer}} </td>
            </ng-container>

            <!-- User First Name -->
            <ng-container matColumnDef="user__first_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> User First Name</th>
                <td mat-cell *matCellDef="let order"> {{order.user.first_name}} </td>
            </ng-container>

            <!-- User Last Name -->
            <ng-container matColumnDef="user__last_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> User Last Name</th>
                <td mat-cell *matCellDef="let order"> {{order.user.last_name}} </td>
            </ng-container>

            <!-- Amount -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount</th>
                <td mat-cell *matCellDef="let order"> {{order.amount}} pcs</td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="price">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Price</th>
                <td mat-cell *matCellDef="let order"> ${{order.price}} </td>
            </ng-container>

            <!-- Deleted -->
            <ng-container matColumnDef="deleted">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Deleted</th>
                <td mat-cell *matCellDef="let order">
                    <mat-icon style="color: red" *ngIf="order.deleted else notDeleted">clear</mat-icon>
                    <ng-template #notDeleted>
                        <mat-icon style="color: green">check</mat-icon>
                    </ng-template>
                </td>
            </ng-container>

            <!-- Date Created -->
            <ng-container matColumnDef="date_created">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Date Created</th>
                <td mat-cell *matCellDef="let order"> {{order.date_created}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

        </table>
        <mat-paginator #paginator
                       color="primary"
                       showFirstLastButtons
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 15, 20]"
                       [length]="count"
                       (page)="getOrders()"
        ></mat-paginator>
    </div>
</div>
