<div class="container">
    <div class="mat-elevation-z8" matSort (matSortChange)="sortChange($event)" matSortDisableClear matSortActive="id" matSortDirection="asc">
        <table mat-table [dataSource]="orders">

            <!-- ID -->
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let order"> {{order.id}} </td>
            </ng-container>

            <!-- Customer -->
            <ng-container matColumnDef="customer">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Customer</th>
                <td mat-cell *matCellDef="let order"> {{order.customer}} </td>
            </ng-container>

            <!-- User First Name -->
            <ng-container matColumnDef="user__first_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> User First Name</th>
                <td mat-cell *matCellDef="let order"> {{order.user.first_name}} </td>
            </ng-container>

            <!-- User Last Name -->
            <ng-container matColumnDef="user__last_name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> User Last Name</th>
                <td mat-cell *matCellDef="let order"> {{order.user.last_name}} </td>
            </ng-container>

            <!-- Amount -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Amount</th>
                <td mat-cell *matCellDef="let order"> {{order.amount}} </td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="price">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Price</th>
                <td mat-cell *matCellDef="let order"> {{order.price}} </td>
            </ng-container>

            <!-- Deleted -->
            <ng-container matColumnDef="deleted">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Deleted</th>
                <td mat-cell *matCellDef="let order"> {{order.deleted}} </td>
            </ng-container>

            <!-- Date Created -->
            <ng-container matColumnDef="date_created">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Date Created</th>
                <td mat-cell *matCellDef="let order"> {{order.date_created | date: 'yyyy-MM-dd HH:mm' : ''}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

        </table>
        <mat-paginator #paginator
                       color="primary"
                       showFirstLastButtons
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 15, 20]"
                       [length]="count"
                       (page)="getOrders()"
        ></mat-paginator>
    </div>
</div>
